pyOpenSSL
gevent
bottle
psycopg2
bottle-pgsql
pandas==2.2.3
openpyxl==2.4.0
smopy==0.0.6
psutil
scipy
simplekml
sqlalchemy
numba
haversine
humanize
redis
pytest
PyMySQL==1.0.2
psycogreen
nose2
nose
minio
pyjwt
requests==2.32.3
zipstream
opencv-python
imutil
celery
pyarrow
pandas-gbq
pyasn1-modules
cryptography
pyodbc
sqlparse
mailjet-rest
python-pptx==0.6.19
duckdb
pylint
pyflakes
flake8
datafusion==44.0.0
pyiceberg==0.8.1
polars==1.23.0
pyotp==2.9.0
databend-driver==0.26.1
uvicorn
fastapi
python-multipart
pyjnius
joblib
scikit-learn
modestimage==0.2
google-cloud-storage
spatialite==0.0.3
mypy==0.910
pdoc
jupyterlab
imutils